<section>
                
    <div class="container-videos">
        <h4>acompanhe todas as dicas</h4>
      <div class="video-jogos1">
        <iframe width="727" height="509" src="https://www.youtube.com/embed/8IMLPe86iCY" title="Contractors VR - Gato e Pipoca 06-11-2021" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="video-jogos2">
        <iframe width="727" height="509" src="https://www.youtube.com/embed/UyO72UXmi80" title="PERDIDO NO MEIO DA ILHA - The Forest Ep.1 (INÍCIO)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="video-jogos3">
        <iframe width="727" height="509" src="https://www.youtube.com/embed/-hWOnTfhCiE" title="War Thunder VR Helicopter Gameplay 2023" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>  
  </section>
