.container-videos {
  background-color: #3d2f4bea;
  box-sizing: border-box;
  align-items: center;
}
.container-videos h4 {
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: 800;
  font-family: "Inter";
  text-transform: uppercase;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.video-jogos1 {
  max-width: 727px;
  min-height: 509px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
.video-jogos2 {
  max-width: 727px;
  min-height: 509px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}
.video-jogos3 {
  max-width: 727px;
  min-height: 509px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 150px;
}
