<footer>
    <div class="container-footer">
      <div class="row-footer">
        <div class="footer-col">
            <h4>Acesse</h4>
            <ul>
                <li><a href="#">jogos</a></li>
                <li><a href="">comunidade</a></li>
                <li><a href="">campeonato</a></li>
                <li><a href="">seja membro</a></li>
            </ul>
        </div>                
        <div class="footer-col">
            <h4>Páginas</h4>
            <ul>
                <li><a href="#">início</a></li>
                <li><a href="#">loja</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">suporte</a></li>
            </ul>
        </div>
        <div class="footer-col">
          <h4>Vivendo na realidade</h4>
          <ul class="logofooter">  
            <li>
              <a href="index.html"><img src="./assets/img/Logo_VR_GAMES.png" class="footer-logo" alt="..."></a>
            </li>  
          </ul>      
        </div>                                 
        <div class="footer-col">
          <h4>Assine nossa Newsletter</h4>
          <div class="form-sub">
              <form>
                  <input id="campo-email" type="email" placeholder="Digite o seu e-mail" required>
                  <button onclick="cadastrarNewsletter()">Cadastrar</button>
              </form>
          </div>
          <div class="medias-socias">
              <a href="#"> <i class="fa fa-facebook"></i> </a>
              <a href="#"> <i class="fa fa-instagram"></i> </a>
              <a href="#"> <i class="fa fa-twitter"></i> </a>
              <a href="#"> <i class="fa fa-linkedin"></i> </a>
          </div>                   
        </div>                 
      </div>               
    </div> 
    
  </footer>
