<section class="banner">
    <div class="container-grid posicionamento-banner">
        <div class="conteudo-banner">
            <h1><b>Encontre</b></h1>
            <h2><b>Sua</b></h2>
            <h3><b>Realidade</b></h3>
            <a href="login">Inscreva-se</a>
        </div>
    </div>
</section>    
<section class="jogos">
    <div class="posicionamento-jogos container d-flex justify-content-between align-items-center">
       <img src="./assets/img/zarya.png" class="logo-jogo" alt=""> 
       <img src="./assets/img/lost.png" class="logo-jogo" alt=""> 
       <img src="./assets/img/warthunder.png" class="war" alt="">
       <img src="./assets/img/cityz.png" class="cityz" alt="">
       <img src="./assets/img/dcs-world.png" class="dcs-world" alt="">
       <img src="./assets/img/f122.png" class="f122" alt="">
    </div>
</section>
<section class="cards">
  <div class="card-box">
    <h4>Jogos Populares</h4>
    <div class="container-card">
      <ul class="cards1-posicao">
        <li>
          <a href="https://www.nomanssky.com/"><img src="./assets/img/nomasky.jpg" class="cards-1" alt=""></a>
        </li>
        <li>
          <a href="https://www.innersloth.com/games/among-us-vr/"><img src="./assets/img/uo.jpg" class="cards-1" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="container-card">
      <ul class="cards2-posicao">
        <li>
          <a href="https://warthunder.com/br"><img src="./assets/img/warthunder.jpg" class="cards-2" alt=""></a>
        </li>
        <li>
          <a href="https://store.steampowered.com/app/739630/Phasmophobia/?l=portuguese"><img src="./assets/img/phasmo.jpg" class="cards-2" alt=""></a>
        </li>
        <li>
          <a href="https://www.oculus.com/experiences/rift/2472374902778951/"><img src="./assets/img/bladesocy.jpg" class="cards-2" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="container-card">
      <ul class="cards3-posicao">
        <li>
          <a href="https://unknownworlds.com/subnautica/"><img src="./assets/img/subnautica.jpg" class="cards-3" alt=""></a>
        </li>
        <li>
          <a href="https://store.steampowered.com/app/242760/The_Forest/"><img src="./assets/img/theforest.jpg" class="cards-3" alt=""></a>
        </li>
        <li>
          <a href="https://www.digitalcombatsimulator.com/en/products/"><img src="./assets/img/dcs.jpg" class="cards-3" alt=""></a>
        </li>
        <li>
          <a href="https://www.oculus.com/experiences/quest/4215734068529064/?locale=pt_BR"><img src="./assets/img/bonelab.jpg" class="cards-3" alt=""></a>
        </li>
      </ul>
    </div>
  </div>  
</section>
<section class="carrocel">
  <div class="carrocel-banner">
    <h4>Seu espaço virtual</h4>
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/carrocel-3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-10.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-5.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-6.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-7.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-8.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-9.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-11.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/carrocel-12.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<section>
  <div class="imgback">
   <div class="videos">
    <div class="video1">
      <iframe width="500" height="300" src="https://www.youtube.com/embed/PFTpKORSuOI" title="ESSE JOGO VR É EXTREMAMENTE REALISTA | Gunman Contracts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video2">
      <iframe width="500" height="300" src="https://www.youtube.com/embed/P1w6cLp33Uc" title="PROBAMOS FAR CRY VR EN ZERO LATENCY / SALA ARCADE DE REALIDAD VIRTUAL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  </div>
</section>
